body {
  font-family: 'Garamond' sans-serif;
  font-size: 100%;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 3em;
}

h1, h2, h3 {
  font-family: 'Open Sans' sans-serif;
}

section {
  page-break-after: always;
}
